.form-card {
    background: white;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    padding: 32px;
    width: 672px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.form-title {
    font-size: 16px;
    color: #0D1B2A;
    margin: 0;
    font-weight: bold;
}

.form-subtitle {
    font-size: 16px;
    color: #606060;
    margin: 0;
}

.google-btn {
    width: 100%;
    height: 44px;
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
}

.divider-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: #D1D5DC;
}

.divider-text {
    color: #606060;
    font-size: 16px;
}

.form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-inputs label {
    font-size: 14px;
    color: #0D1B2A;
}

.form-inputs input {
    height: 44px;
    background: #F3F3F5;
    border: none;
    border-radius: 8px;
    padding: 0 12px;
    font-size: 14px;
}

.button-container {
    display: flex;
    width: 100%;
    gap: 12px;
    margin-top: 16px;
}

.back-btn, .next-btn {
    flex: 1;
    height: 36px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #1F2937;
}

.next-btn {
    background: linear-gradient(to bottom, #0093E9, #80D0C7);
    border: none;
    color: white;
}
